/* Header Styling Start */

header {
    color: white;
    background-image: linear-gradient(to right, blue, darkblue);
}

/* Search Styling */

main label {
    font-weight: bold;
    font-size: x-large;
}

.search-button {
    width: 100%;
}

.history-container {
    border-top: black solid 2px;
    padding-top: 20px;
}

/* Current Weather Data Start */
.current-div {
    outline: black 2px solid;
    margin: 5px;
}

button:disabled {
    color: white;
    padding: 1px 15px;
}
/* Current Weather Data End */

.card {
    color: white;
    background-color: navy;
}