/* Header Styling Start */

header {
    color: white;
    background-image: linear-gradient(to right, blue, darkblue);
}

/* Search Styling */

main label {
    font-weight: bold;
    font-size: x-large;
}

.search-button {
    width: 100%;
}

/* Current Weather Data Start */
.current-div {
    outline: black 2px solid;
    margin: 5px;
}

button:disabled {
    color: white;
    padding-left: 3px;
    padding-right: 3px;
}
/* Current Weather Data End */

.card {
    color: white;
    background-color: navy;
}